body {
  font-family: "Barlow", sans-serif;
background-color: #DEDEDE;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: url("../images/cafe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  color: #F87B3E;

}

header h1 {
  font-weight: 100;
  font-size: 96px;
  line-height: 1.5;
  margin: 30px 0;

}

header h3 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}


header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

footer {
  color: #FF76CE;
}

footer a {
  color: #FF76CE;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 48px;
    font-weight: 400;
  }

  header {
    padding: 60px 0;
  }

  header a {
    padding: 12px 16px;
    font-size: 10px;
  }

  header h3 {
    font-size: 18px;
    font-weight: 400;
  }

}
